
.login-card{
    box-shadow: 0 1px 4px rgba(41,51,57,0.5);
    width: 84%;
    height: auto;
    top: -40px;
    padding: 30px;
   
}
.foot-sec{
    margin-left: 95px;
}

.foot-text{
    color:#37454D;
}
.btn-logo{
    margin-top: 3%;
}
.uk-button{
    text-transform: none;
    border: 1px solid;
    min-height: 44px;
    font-size: 16px;
}
.logo-login{
    margin-right: 300px;
}
/* .logo-arrow{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} */

.foot-sec a{
    text-decoration: none;
    color:#37454D;
    border: 1px solid;
    padding: 13px 13px;
    width: 5px;
    font-weight: 500;
}
.foot-sec a:hover
    {
        background: #697379; 
        color: #fff;
    }


 
@media (max-width:393px) and (min-width:381px){ 
    .uk-button{
        font-size: 15px;
    }
    .foot-text{
        font-size: 15px;
        margin-left: 25px;
        }
}

@media (max-width:381px) and (min-width:353px) {
    .uk-button{
        font-size: 13px;
    }
    
}

@media (max-width:353px) and (min-width:340px) {
    .uk-button{
        font-size: 12px;
    }
    
}
@media (max-width:340px) and (min-width:320px) {
    .uk-button{
        font-size: 10px;
    }
    
}   
/* 
@media (max-width:400px) and (min-width:900px) {
    .uk-button{
        font-size: 15px;
    }
    .foot-text{
        font-size: 15px;
        margin-left: 25px;
        }
}
@media (max-width:776px) and (min-width:751px) {
    .uk-button{
        font-size: 15px;
    }
    
}
@media (max-width:751px) and (min-width:725px) {
    .uk-button{
        font-size: 14px;
    }
    
}
@media (max-width:725px) and (min-width:698px) {
    .uk-button{
        font-size: 13px;
    }
    
}
@media (max-width:698px) and (min-width:672px) {
    .uk-button{
        font-size: 12px;
    }
}
@media (max-width:672px) and (min-width:640px) {
    .uk-button{
        font-size: 10px;
    }
} */
/* @media(max-width:670px){
    .uk-button{
        font-size: 14px;
    }
} */
/* @media (max-width:324px){
    .uk-button{
        font-size: 14px;
    }

    .foot-text{
        font-size: 14px;
        margin-left: 25px;
    }
} */