<!-- footer portion -->
<div class="footer">  
    <br><br>
    <div class="uk-column" style="margin-left: 10%; margin-right: 10%;">
        <div class="uk-column-1-2@l uk-column-1@s " >
            
                <!-- <div class="news"> -->
                   <p> Want to receive exclusive hotel offers? Subscribe to our newsletter!</p><input type="email" placeholder=" Email address " style="background-color: white;width: 50%; border-style: none; color: black; height: 30px; float: inline-end;  ">
                   <button  value="submit" type="submit" style="color: white; font: bold; background-color: rgb(68, 93, 105); height: 30px; border-style: none; width: 30%; float: inline-end;"> Subscribe</button>
                <!-- </div> -->
        </div>

    </div>
        
    
    
    <hr class="div">
    <div class="uk-column" style="margin-left: 10%; margin-right: 10%">

        
        <div class="uk-column-1@l uk-column-1@s uk-column-1@m" >
            <p style="float: left; font-size: 12px; width: auto; "><strong> trivago N.V.</strong>, Kesselstraße 5 – 7, 40221 Düsseldorf, Germany</p><br>
            <p style="width: 259px;"><a href="#" class="uk-icon-button uk-margin-small-right" uk-icon= "facebook" style="color: black; "></a>
            <a href="#" class="uk-icon-button uk-margin-small-right" uk-icon= "twitter" style="color: black;"></a>
            <a href="#" class="uk-icon-button uk-margin-small-right" uk-icon= "instagram" style="color: black;"></a>
            <a href="#" class="uk-icon-button uk-margin-small-right" uk-icon= "youtube" style="color: black;"></a>
            <a href="#" class="uk-icon-button uk-margin-small-right" uk-icon= "linkedin" style="color: black;"></a></p>
            
        </div>
    </div>
    
        
    
    
    <div class="uk-section uk-section-large" style="padding-top: 0; padding-bottom: 0; margin-left: 4%;">
		<div class="uk-container">
			<div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
            <div>
                <ul style="list-style-type: none;">
                    <li><a href="Company">Company</a></li>
                    <li><a href="Jobs">Jobs</a></li>
                    <li><a href="Press">Press</a></li>
                    <li><a href="Investor">Investor relations</a></li>
                
                </ul>
            </div>
           <div>
                <ul style="list-style-type: none;">
                    <li><a href="mobileapps">mobile apps-searching on the go</a></li>
                    <li><a href="studio">trivago Business Studio</a></li>   
                    
                </ul>
            </div>
            <div>
                <ul style="list-style-type: none;">
                    
                    <li><a href="">Help</a></li>
                    <li><a href="">Learn how trivago works</a></li>
                    <li><a href="">Terms and Condition</a></li>
                    <li><a href="">legal information</a></li>
                    <li><a href="">Privacy notice</a></li>
                    <li><a href="">Site map</a></li>
                </ul>
            </div>
        </div>
        </div>
    </div>
    
</div>
<div class=".uk-text-center" id="copy">
    <h2>trivago</h2>
    <p id="right"> 2020 trivago | All rights reserved.</p>
</div>