.footer{
    background-color: #293339;
    color: white;
    width: auto;
    height: auto;
    padding-top: 10px;
    margin-top: auto;
}

.footer p{
    color: white;
    font-size: 13px;
}

.footer a{
    color: white;
    margin-left: auto;
    font: medium;
    font-size: 15px;
    text-decoration: none;
    
}
  
.column2 {
    float: right;
  }
#copy{
    font-size: 12px;
    background-color: #37454d;
    width: auto;
    height:auto;
    text-align: center;
}

.div{
    margin-left: 10%;
    margin-right: 20%;
    font-weight: 100;
}

#copy h2{
    color: white;
    font-weight: bold;
    padding-top: 10px;
    margin-bottom:0 ;
}

#icons{
    margin-left: 10%;
    padding: 10px;
    color: rgb(0, 0, 0);
    border-radius: 70%;

}




.column{
    margin-bottom: 32px;
    width: 33.3333%;
}


#right{
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 20px;
}


.news{
    font-size: 12px;
    display: inline;
    width: 100%;
}