.uk-navbar{
    background: none;
    border-bottom: 2px solid #F5F5F6;
}				
.uk-active:hover{
background:#EBECED;
}	
.uk-margin-small-left {
    margin-left: none;
}
select{
    border: none;
    outline: none;
    width:100px;
    margin-top: 18px;
    font-size: 1.5 rem;
    padding: 15px;
    appearance: none;
}
select:hover{
    background:#EBECED ;
}
.custom-select{
    position: relative;
}
.uk-arrow{
    margin-top: 32px;
    margin-left: 15px;
}
.select-arrow{
    position: absolute;
    top: 0px;
    right: 0;
    background:#fff;
    width: 3.5rem;
    height: 80px;
    display: block;
    pointer-events: none;
}
.select-arrow:hover{
    background: #EBECED
}
.uk-icon{
    border: none;
}

.mobile-menu .uk-active a{
    color: #47545B;
    padding: 12px 0;
    border-bottom: 2px solid #F5F5F6;
}
.mobile-menu .main-head{
    color: #37454D;
    text-align: center;
    }
    .mobile-menu h4{
        color: #37454D;
        font-size: 20px;
        }

.mobile-menu .menu-dropdown{
color: #47545B;
font-size: 16px;
border-bottom: 2px solid #F5F5F6;
}
.mobile-menu a :hover{
    color: none;

    }
    .mobile-btn{
    border: none;
    width: 100%;
    background: #fff;
    font-size: 16px;
}
.main-head{
    border-bottom: 2px solid #F5F5F6;  
}
  .mob-nav-icon1{
      margin-left:187px;
  }  
  .mob-nav-icon2{
    margin-left:175px;
}  
.mob-nav-icon3{
    margin-left:157px;
}  
@media (max-width:640px) and (min-width:300px) {
    .uk-margin-small-left  {
        display: none;
    }
}
