<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-right navbar-mob">
        <img class="uk-hidden@l" src="assets/images/trivago.png" width="100" height="80" alt="image">
        <a class="uk-hidden@l" style="margin-left: 150px;" href="" uk-icon="icon: user"></a>
        <span class="uk-margin-small-left uk-hidden@l">Log in</span>
        <a href="#" class="uk-navbar-toggle uk-hidden@l" uk-navbar-toggle-icon uk-toggle="target: #sidenav"></a>
         <span class="uk-margin-small-left  uk-hidden@l">Menu</span>
    </div>
</nav>
    <nav class="uk-navbar-container left-nav uk-margin uk-margin-remove-top uk-margin-remove-bottom" uk-navbar="mode: click">
        <div class="uk-navbar-left" style="margin-left:250px;">
            <ul class="uk-navbar-nav scroll-menu">
                <li class="uk-active">
                    <a href="#" style="color: rgb(0, 127, 173);border-bottom: 2px solid;"> 
                        <span uk-icon="icon: search"></span>
                        <!-- <img class="" src="http://www.michigandaily.com/sites/default/themes/tmd/img/icons/search_header.png" width="20" height="20" uk-svg> -->
                       <b>Hotel search</b></a>
                </li>
                <li class="uk-active">
                    <a href="#">
                        <img src="http://image.flaticon.com/icons/png/512/67/67347.png" width="20" height="20" uk-svg>Discover</a>
                </li>
                <li class="uk-active">
                    <a href="#"><img src="https://cdn0.iconfinder.com/data/icons/transport-107/24/car-512.png" width="20" height="20" uk-svg>
                        Car</a>
                </li>
                <li class="uk-active">
                    <a href="#"> <img src="https://cdn3.iconfinder.com/data/icons/maps-and-navigation-line-2/48/78-512.png" width="20" height="20" uk-svg>
                        Flight</a>
                </li>
                <li class="uk-active">
                    <a href="#"> <img src="https://image.flaticon.com/icons/png/512/149/149399.png" width="20" height="20" uk-svg>
                        Packages</a>
                </li>    
            </ul>
        </div>

    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav uk-visible@l">
            <li class="uk-active ">
                <a class="uk-text-small uk-text-capitalize" href="loginpage">Log in</a>
            </li>
            <li class="uk-active">
                <a class="uk-text-small uk-text-capitalize " href="service-page"> Menu
                    <a href="" uk-icon="icon: chevron-down"></a> 
                </a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li class="uk-active "><a class="noHover" href="#">Recenlty viewed</a></li>
                        <li><a  class="noHover"  href="#">Booking overview</a></li>
                        <li><a  class="noHover"  href="#">Payament methodes</a></li>
                    </ul>
                </div>
            </li> 
        </ul>
    </div>
</nav>

<div id="sidenav" uk-offcanvas="overlay: true" class="mobile-menu">
    <div class="uk-offcanvas-bar" style="width: 100%; background: #fff;">

        <ul class="uk-nav  uk-nav-parent-icon uk-nav-default" data-uk-nav>
            <div>
           
<h4 class="uk-text-bold uk-margin-remove-top main-head uk-align-center" >
    <a href="" class="uk-margin-medium-right" uk-icon="icon:chevron-left" ratio="1.6"  style="color: #000;"></a>
    Menu</h4>
            </div>
          
            
                    <li><a class="menu-dropdown" href="#">Recenlty viewed
                        <a class="uk-align-right uk-margin-remove-bottom" href="" uk-icon="icon: chevron-right"  style="color: #000;"></a>
                    </a></li>
                  
                    <li><a class="menu-dropdown" href="#">Booking overview
                        <a class="uk-align-right uk-margin-remove-bottom" href="" uk-icon="icon: chevron-right"  style="color: #000;"></a>
                    </a></li>
                    <li><a  class="menu-dropdown" href="#">Payament methodes
                        <a class="uk-align-right uk-margin-remove-bottom" href="" uk-icon="icon: chevron-right" style="color: #000;"></a>
                    </a></li>
                    
                <!-- </ul> -->

            <!-- </li> -->
            <li class="uk-active">
                <a class="uk-text-small uk-text-capitaliz dropdown-text " href="#">Log in</a>
            </li>
        </ul>
    </div>
</div>
