.uk-subnav>*>:first-child {
    text-transform: none;
}
.uk-navbar-nav>li>a{
    text-transform: none;
}
.searchicon{

color: #007FAD;
}
.uk-navbar{
    background: none;
    border-bottom: 2px solid #F5F5F6;
}				
.uk-active:hover{
background:#EBECED;
}	
.uk-margin-small-left {
    margin-left: none;
}
select{
    border: none;
    outline: none;
    width:100px;
    margin-top: 18px;
    font-size: 1.5 rem;
    padding: 15px;
    appearance: none;
}
select:hover{
    background:#EBECED ;
}
.custom-select{
    position: relative;
}
.uk-arrow{
    margin-top: 32px;
    margin-left: 15px;
}
.select-arrow{
    position: absolute;
    top: 0px;
    right: 0;
    background:#fff;
    width: 3.5rem;
    height: 80px;
    display: block;
    pointer-events: none;
}
.select-arrow:hover{
    background: #EBECED
}
.uk-icon{
    border: none;
    margin-top: 5px;
}

.mobile-menu .uk-active a{
    color: #47545B;
    padding: 12px 0;
    border-bottom: 2px solid #F5F5F6;
}
.mobile-menu .main-head{
    color: #37454D;
    text-align: center;
    }
    .mobile-menu h4{
        color: #37454D;
        font-size: 20px;
        }

.mobile-menu .menu-dropdown{
color: #47545B;
font-size: 16px;
border-bottom: 2px solid #F5F5F6;
}
.mobile-menu a :hover{
    color: none;

    }
    .mobile-btn{
    border: none;
    width: 100%;
    background: #fff;
    font-size: 16px;
}
.main-head{
    border-bottom: 2px solid #F5F5F6;  
}
  .mob-nav-icon1{
      margin-left:187px;
  }  
  .mob-nav-icon2{
    margin-left:175px;
}  
.mob-nav-icon3{
    margin-left:157px;
}  


/* responsive */
@media (max-width:1198px) and (min-width:497px) {
    .left-nav{
        margin-left: -253px;
    }
}

 @media (max-width:485px) and (min-width:320px) {
    .left-nav{
      display:none;
    } 
}

@media (max-width:360px) and (min-width:320px) {
    .scroll-menu{
        overflow: auto;
         white-space: nowrap;
    }
   
    .scroll-menu :hover{
        background: #007FAD;
         }
}


@media (max-width:496px) and (min-width:485px) {
    .left-nav{
        margin-left: -262px;
    }
}

@media (max-width:484px) and (min-width:320px) {
    .left-nav{
        margin-right: -233px;
    }
}
@media (max-width:640px) and (min-width:300px) {
    .uk-margin-small-left  {
        display: none;
    }
}




/* 

.uk-text-normal{
    font-size: 20px;    
}
.uk-navbar-dropdown-nav .uk-dropdown-right-top {
    top: 0px !important;
     min-height: 100%;
}
.uk-width-medium
{
  
    line-height: 2.8rem;
   
}
.uk-width-small
{
    width: 15%;
    line-height: 2.8rem;
    min-height: 100%;
}
.uk-navbar-right
{
    margin-right: 16%;
}
.uk-text-small
{
    font-size: 20px;
}
ul li{
    font-size: 15px;
}
.uk-offcanvas-bar{
    background-color: #135796;
} */