
<br><br><br>
<hr>
<div class="body">
    <div class="uk-flex-first" uk-grid>
        <div class="uk-width-1-3@l" style="padding-left: 10%;">
            <a id="back" href="#">> Back</a><br><br><br>
            <a id="back1" href="#Recentlyviewed">| Recently viewed</a>
        </div>
        <div class="uk-width-2-3@l uk-flex-middle" style="align-content:left;">
            <p style="padding-left: 5%; font-size: 20px; color: black;">Recently viewed</p>
            <p style="padding-left: 5%;">You have not interacted with any accommodations recently on this device.</p>
            <img  id="image" data-src="assets\images\trii.png" width="270px" height="250px" alt="" uk-img>
        </div>
    </div>
</div>    
    

    


