img{
    height: 200px;
}

.cards{
    margin-left: 7%;
    margin-right: 7%;
    /* width: 9; */
}

hr{
    margin-top: 0%;
    margin-bottom: 0%;
}
h3,p{
    margin-bottom: 0%;
    margin-top: 0%;
}
#green{
    background-color: rgb(14, 128, 10);
    color: white;
}
.green{
    color:  rgb(14, 128, 10);
}
.checked {
    color: orange;
  }

.view{
    background-color: rgb(14, 128, 10);
   margin-right: 45%;
   margin-left: 45%;
   height: 40px;
   /* width: 50px; */
}
.padding{
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}
div, a{
    color: black;
}
.uk-container{
    padding-right: 0;
    padding-left: 0;
}
.bcredit{
    border-radius: 25%;
    color: white;
    font-weight: bold;
    background-color: rgb(14, 128, 10);
    margin: 0 0 0 0;
}

.uk-navbar-container{
    background-color: rgb(240, 239, 239);
}
.ind{
    background-color: white;
    font-weight: bold;
}
.i{ 
    margin-left: 100px;
}
.i1{
    margin-left: 80px;
}
.uk-grid{
    font-size: 14px;
    color: black;
}
.uk-button-i{
    margin-left: 10px;
    font-weight: 730;
    height:50px;
    background-color: white;
}
.uk-button-in{
    height:50px;
    background-color: white;
}
.b{
    color: white;
    margin:auto;
    display:block;
    background-color: rgb(110, 109, 109);
}
.map{
    height: 50px;
    width: 300px;
    float: right;
    
}
.more{
    background-color: white;
    color: black;    
    font-weight: bold;
    margin:auto;
    margin-top: 6px;
    display:block;
}
.view{
   background-color: rgb(14, 128, 10);
   margin-right: 45%;
   margin-left: 45%;
   height: 40px;
   
}
.checked {
    color: orange;

}

.aa{
    margin-left: 10px;
}

.uk-cards{
    height: 10px;
    width: 150px;
}
.mumbai{
    font-family:Arial,Helvetica,Sans,Sans-Serif,"Sans Serif";
    color: black;
    line-height: 1.5;
    margin: 16px 0;
}
.top{
    color: black;
    margin-left: 10px;
    line-height: 0%;
    padding-bottom: 8%;
}
.uk-table{
    line-height: 0%;
}
.deal{
    text-align: right;
    color: green;
    margin-right: 10px;
}

/* search-form */

.search-form {
    margin-top: 20px;
    margin-left: 151px;
    max-width: 1151px;
    margin-bottom: 25px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 11px;
    box-shadow: none;
    color: #000;
    border-radius: 2px 2px 0 0;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
}
.search-form form {
    width: 100%;
}
.search-form form .form-container {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
}
.search-form form .form-container .form-widgets {
    -webkit-flex-basis: 35%;
    flex-basis: 35%;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    margin-right: 8px;
    max-width: 35%;
    position: static;
}
.search-form form .form-container .form-widgets .search span {
    position: absolute;
    top: 60%;
    display: block;
    left: 12px;
    height: 24px;
    transform: translateY(-50%);
    width: 24px;
    background-position: 50%;
    text-align: center;
    font-size: 17px;
    color: #9ba2a6;
}
.search-form form .form-container .form-widgets .search input {
    border: 1px solid #9ba2a6;
    padding-left: 48px;
    background-color: #fff;
    border-radius: 2px;
    padding-right: 8px;
    width: 100%;
    text-overflow: ellipsis;
    font-size: 16px;
    height: 44px;
}
.search-form form .form-container .calender-form {
    -webkit-flex: 0 0 186px;
    flex: 0 0 186px;
    margin-top: 0;
    display: block;
    margin-right: 0;
    width: calc(50% - 44px);
    position: relative;
}
.search-form form .form-container .calender-form button {
    border-color: #9ba2a6;
    padding-left: 4px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: none;
    position: relative;
    background-color: #fff;
    border: 1px solid #9ba2a6;
    height: 44px;
    padding: 0 8px;
    text-align: left;
    vertical-align: middle;
    width: 100%;
}
.search-form form .form-container .calender-form button.check-in {
    border-right: none;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}
.search-form form .form-container .calender-form button.check-out {
    border-left: none;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}
.search-form form .form-container .flex {
    display: -webkit-flex;
    display: flex;
}
.search-form form .form-container .search-icon {
    display: flex;
    -webkit-align-self: center;
    align-self: center;
    width: auto;
    height: 24px;
    margin-right: 8px;
    -webkit-flex: 0 0 24px;
    flex: 0 0 24px;
    align-items: center;
    justify-content: center;
}
.search-form form .form-container .calender-form .flex .check-in .check-in-place {
    display: block;
    font-size: 12px;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.search-form form .form-container .calender-form.check-out {
    -webkit-flex-basis: 155px;
    flex-basis: 155px;
    margin-right: 8px;
}
.search-form form .form-container .calender-form.check-out::before {
    content: "";
    background-color: #cdd0d2;
    height: 28px;
    left: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 1px;
    z-index: 1;
}
.search-form form .form-container .search-room {
    display: block;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    max-width: 140px;
    -webkit-flex-basis: 140px;
    flex-basis: 140px;
    margin-right: 8px;
    margin-top: 0;
    padding-left: 12px;
    flex: 1 0 auto;
    width: calc(33.333% - 16px);
    background-color: #fff;
    border: 1px solid #9ba2a6;
    border-radius: 2px;
    height: 44px;
    padding: 0 8px;
    text-align: left;
}
.search-form form .form-container .search-btn {
    -webkit-flex-basis: auto;
    flex-basis: auto;
    max-width: none;
    padding: 0 16px;
    width: 113px;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    flex-shrink: 0;
    position: relative;
    height: 44px;
    font-size: 16px;
    min-height: 44px;
    line-height: 1;
    background-color: #007fad;
    border: 1px solid #007fad;
    border-bottom-color: #005f81;
    color: #fff;
}
.search-form form .form-container .search-btn .none-search {
    height: 24px;
    width: 24px;
    display: none;
    text-align: center;
}
.search-form form .form-container .search-btn .display-search {
    font-weight: 600;
}
@media screen and (max-width:991px) {
    .search-form form .form-container .search-btn {
        max-width: 54px;
    }
    .search-form form .form-container .search-btn .none-search {
        display: block;
        height: 24px;
        width: 24px;
        font-size: 21px;
        font-weight: 100;
    }
    .search-form form .form-container .search-btn .display-search {
        display: none;
    }
    .search-form form .form-container .form-widgets .search span {
        display: none;
    }
    .search-form form .form-container .form-widgets .search input {
        padding-left: 12px;
    }
    .search-form form .form-container .search-room .users {
        display: none;
    }
    .search-form form .form-container .search-room .room-head {
        display: block;
    }
    .search-form form .form-container .search-room {
        max-width: 170px;
    }
    .search-form form .form-container .calender-form.check-out {
        flex-basis: 180px;
        -webkit-flex-basis: 180px;
    }
}
@media screen and (max-width:767px){
    .search-form form .form-container .search-btn .display-search {
        display: block;
    }
    .search-form form .form-container .search-btn .none-search {
        display: none;
    }
    .search-form form .form-container .form-widgets .search span {
        display: block;
        top: 25px;
    }
    .search-form form .form-container .form-widgets {
        margin-bottom: 12px;
        max-width: 100%;
        margin-right: 0;
    }
    .search-form form .form-container .form-widgets .search {
        position: relative;
    }
    .search-form form .form-container {
        display: block;
    }
    .search-form form .form-container .calender-form {
        display: inline-block;
        margin-right: 0;
        width: 25%;
    }
    .search-form form .form-container .search-room {
        max-width: 100%;
        display: inline-block;
        margin-right: 0;
    }
    .search-form form .form-container .form-widgets .search input {
        padding-left: 48px;
    }
    .search-form form .form-container .search-btn {
        width: 100%;
        max-width: 100%;
        margin-top: 12px;
    }
    .search-form form .form-container .search-room .users {
        display: block;
    }
    .search-form form .form-container .calender-form.check-out {
        margin-right: 0;
    }
    .search-form form .form-container .search-room {
        padding: 6px 8px 0;
        width: 49%;
    }
}
@media screen and (max-width:562px){
    .search-form form .form-container .calender-form {
        width: 49.6%;
        margin-bottom: 12px;
    }
    .search-form form .form-container .search-room {
        width: 100%;
    }
}
@media screen and (max-width:355px){
    .search-form form .form-container .calender-form {
        width: 49%;
    }
 }