 .uk-form-controls .uk-input{
    width: 415px;
}
.uk-form-controls{
    width: 320px;
    margin-bottom: 25px;
}

.uk-button{
    height: 35px;
    width: 321px;
} 

.account{
   margin-left:125px;
   font-size: 18px;
}

/* .box{
    margin-top: 33px;
    height: 269px;
    border: 1px solid;
    width: 44%;
    padding: 82px;
} */

.common{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.uk-card{
    width: 850px;
    padding: 55px;
    height: auto;
}

.box-left{
    width: 50%;
}
.box-left{
    width: 50%;
}

.button{
    background: green;
}
.btn-text{
    text-align: center;
}

.btn-text{
    font-weight: 700;
}


/* 
.box{
    padding: 45px;
    width: 778px;
    height: auto;
    border: 1px solid;
}


*+[class*=uk-align]{
    margin-top: none;
    margin-bottom: none;
}
.logo-login{
    margin-left:238px; 
}

.uk-form-controls{
    width: 36%;
    margin-bottom: 25px;
}
 */
